 <!-- FOOTER -->
 <!-- <footer class="footer mt-auto py-3 bg-light">
    <div class="container">
      <span class="text-muted">Place sticky footer content here.</span>
    </div>
  </footer> -->

<footer id="main-footer" class="text-center p-4">
<div class="container">
    <div class="row">
    <div class="col">
        <p>Copyright &copy;
        <span id="year"></span> Glozzom</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore exercitationem sapiente autem dolorem doloremque ratione perspiciatis placeat quo sint sit dolor sunt voluptatibus suscipit nihil amet molestias, rem adipisci voluptatem!</p>
    </div>
    </div>
</div>
</footer>